﻿@model IEnumerable<Eshop.v_latest_blogs>

<div class="mb-4">
    <h5>Latest Blogs</h5>
</div>
<ul class="flex-column nav list-group-flush">

    @foreach (var item in Model)
    {
        <li class="list-group-item px-0 py-4">
            <div class="row p-0 m-0">
                <div class="col-4 p-0">
                    <a href='@Url.Action("Article", "Blog", new { id=item.id })'>
                        <img class="img-fluid " src="~/images/@Url.Content(item.picturePath)" />
                    </a>                    
                </div>
                <div class="col-8">
                    <h6>@Html.DisplayFor(modelItem => item.title)</h6>
                    <span class="text-muted">by</span> @Html.DisplayFor(modelItem => item.user_fullname) <span class="text-muted">- @Html.DisplayFor(modelItem => item.creation_date)</span>
                </div>
            </div>
        </li>
    }
</ul>
