﻿<section>
    <img class="img-fluid mb-5" src="~/images/debra/debra (1).png" />
    <div class="banner-text text-center">
        <h1>About</h1>
        <p class="font-weight-bold">Home > <span class="active-pink">About</span></p>
    </div>
</section>
<div class="container my-4">
    <div class="row my-4">
        <div class="col-6 d-none d-lg-block">
            <div class="m-2">
                <img class="img-fluid" src="~/images/debra/debra (3).png" />
            </div>
        </div>
        <div class="col-lg-6 col-12  text-center text-lg-left">
            <div class="m-2">
                <h1>WELCOME TO <span class="active-pink">VESOZ</span></h1>
                <p>
                    grdlgdrigjrdilgjdligldrnglidxcjngvliejoiůsjforilsejiofsjoflsdxklhnfcvkljehdjlshfjlef
                    grdlgdrigjrdilgjdligldrnglidxcjngvliejoiůsjforilsejiofsjoflsdxklhnfcvkljehdjlshfjlef
                    grdlgdrigjrdilgjdligldrnglidxcjngvliejoiůsjforilsejiofsjoflsdxklhnfcvkljehdjlshfjlef
                </p>
                <div class="mt-5">
                    <h5>WIN BEST ONLINE SHOP AT 2020</h5>
                    <p>
                        grdlgdrigjrdilgjdligldrnglidxcjngvliejoiůsjforilsejiofsjoflsdxklhnfcvkljehdjlshfjlef
                        grdlgdrigjrdilgjdligldrnglidxcjngvliejoiůsjforilsejiofsjoflsdxklhnfcvkljehdjlshfjlef
                        grdlgdrigjrdilgjdligldrnglidxcjngvliejoiůsjforilsejiofsjoflsdxklhnfcvkljehdjlshfjlef
                    </p>
                </div>                
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-4 col-12 text-center text-lg-left my-2">
            <div class="m-2">
                <h3>OUR VISION</h3>
                <p>
                    ectetuer adipiscing elit. Aliquam ante. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Cras elementum. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Duis aute 
                </p>
            </div>
        </div>        
        <div class="col-lg-4 col-12 text-center text-lg-left my-2">
            <div class="m-2">
                <h3>OUR MISSION</h3>
                <p>
                    ectetuer adipiscing elit. Aliquam ante. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Cras elementum. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Duis aute 
                </p>
            </div>
        </div>        
        <div class="col-lg-4 col-12 text-center text-lg-left my-2">
            <div class="m-2">
                <h3>OUR GOAL</h3>
                <p>
                    ectetuer adipiscing elit. Aliquam ante. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Cras elementum. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Duis aute 
                </p>
            </div>
        </div>        
    </div>
    <div class="row my-4 justify-content-center">
        <div class="m-3 col-auto">
            <img class="img-fluid" src="~/images/debra/debra (18).jpg" />
        </div>
        <div class="m-3 col-auto">
            <img class="img-fluid" src="~/images/debra/debra (19).jpg" />
        </div>
        <div class="m-3 col-auto">
            <img class="img-fluid" src="~/images/debra/debra (20).jpg" />
        </div>
        <div class="m-3 col-auto">
            <img class="img-fluid" src="~/images/debra/debra (21).jpg" />
        </div>
        <div class="m-3 col-auto">
            <img class="img-fluid" src="~/images/debra/debra (22).jpg" />
        </div>
    </div>
</div>