﻿@{
    ViewBag.Title = "Contact";
}
    <section>
        <img class="img-fluid mb-5" src="~/images/debra/debra (1).png" />
        <div class="banner-text text-center">
            <h2>Contact</h2>
            <p class="font-weight-bold">Home > <span class="active-pink">Contact</span></p>
        </div>
    </section>
<div class="container my-4">
    <div class="row">
        <div class="col-6">
            <div class="m-4">
                <h3>Tell Us Your Message</h3>
                <form>
                    <div class="form-group">
                        <label for="nameInput">Your Name</label>
                        <input type="email" class="form-control" id="nameInput" placeholder="Full Name" required>
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Your Email</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                        <label for="subjectInput">Subject</label>
                        <input type="email" class="form-control" id="subjectInput" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <label for="messageInput">Example textarea</label>
                        <textarea class="form-control" id="messageInput" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <button type="submit" class="btn pink-button">Send message</button>
                </form>
            </div>
        </div>
        <div class="col-6">
            <div class="m-5 p-4 contact">
                <h3>Contact Us</h3>
                <p> ectetuer adipiscing elit. Aliquam ante. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Cras elementum. Etiam </p>
                <h5><i class="fa fa-fax"></i> Address</h5>
                <p>123 Main Street, Anytown, CA 12345 - USA</p>
                <hr />
                <h5><i class="fa fa-phone"></i> Address</h5>
                <p>
                    <div class="mb-2">Mobile: (08) 123 456 789</div>
                    <div>Hotline: 1009 678 456</div>
                </p>
                <hr />
                <h5><i class="fa fa-envelope"></i> Email</h5>
                <p>
                    <div class="mb-2">yourmail@domain.com</div>
                    <div>mail@yournmail.com</div>
                </p>
                <hr />

            </div>
        </div>
    </div>
</div>
<section class="mb-5">
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDiQIZtxMYY3Ch1DVK8SjQ_7_SLqCHV1A&callback=initMap"
            async defer></script>
</section>