﻿@model IEnumerable<Eshop.v_product_previews>

@{
    ViewBag.Title = "Home Page";
}
<div class="container body-content my-4 mt-lg-0 mb-lg-4">
    <div class="row mb-4">
        <div class="col-12 text-center position-relative">
            <img src="~/images/debra/debra (2).png" class="img-fluid" alt="Debraname" />
            <div class="text-block">
                <h3 class="pink">COSMETIC BEST SELLING</h3>
                <h1>Fashion Cosmetic</h1>
                <p>
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <a class="btn pink-block" href="#">
                    Shopping Now
                </a>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <div class="row">
                <div class="col-auto">
                    <img src="~/images/debra/debra (6).png" class="img-fluid" alt="shipping" />
                </div>
                <div class="col">
                    <h5 class="pink">
                        <b>Free Shipping</b>
                    </h5>
                    Free shipping on order
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-auto">
                    <img src="~/images/debra/debra (7).png" class="img-fluid" alt="shipping" />
                </div>
                <div class="col">
                    <h5 class="pink">
                        <b>Support 24/7</b>
                    </h5>
                    Contact us 24 hrs a day
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-auto">
                    <img src="~/images/debra/debra (8).png" class="img-fluid" alt="shipping" />
                </div>
                <div class="col">
                    <h5 class="active-pink">
                        <b>Payment Secure</b>
                    </h5>
                    Free shipping on order
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col text-center">
            <h4>Arrivals Product</h4>
        </div>
    </div>
    <div class="row mb-4 align-content-center justify-content-center">
        <div class="col-auto ">
            <a class="active-pink" href="#">Top Sell</a>
        </div>
        <div class="col-auto black">
            <a href="#">Best Sellers</a>
        </div>
        <div class="col-auto black">
            <a href="#">New Arrivals</a>
        </div>
    </div>
    <div class="row mb-4">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-6">
                <div class="mx-2">
                    <a href='@Url.Action("ProductDetails", "Products", new { id=item.id })'>
                        <img class="card-img-top " src="~/images/@Url.Content(item.pic_path)" alt="item.name" />
                    </a>
                    <div class="card-body border">
                        <div class="col p-0">
                            @Html.ActionLink(item.name, "ProductDetails", "Products", new { id = item.id }, new { @class = "link-black" })
                        </div>
                        <div class="col p-0">
                            @for (int i = 1; i < item.rating; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        </div>
                        <div class="col p-0">
                            @if (item.s_value != null)
                            {
                                <span class="active-pink"><b>$@((item.price * (100 - item.s_value)) / 100).00</b></span>
                                <span class="text-muted"><del>$@Html.DisplayFor(modelItem => item.price).00</del></span>
                            }
                            else
                            {
                                <span class="">$@Html.DisplayFor(modelItem => item.price).00</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mb-4">
        <div class="col-6">
            <img src="~/images/debra/debra (4).png" class="img-fluid" />
        </div>
        <div class="col-6">
            <img src="~/images/debra/debra (5).png" class="img-fluid" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12 my-2">
            <div class="col-12 p-0 text-lg-left text-center mb-2">
                <h4>Top Rated</h4>
            </div>
            <div class="row my-3">
                <div class="col-auto">
                    <a href="@Url.Action("ProductDetails", "Products")">
                        <img class="" src="~/images/debra/debra (9).jpg" height="100" alt="product">
                    </a>
                </div>
                <div class="col">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-12 p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-auto">
                    <a href="@Url.Action("ProductDetails", "Products")">
                        <img class="" src="~/images/debra/debra (9).jpg" height="100" alt="product">
                    </a>
                </div>
                <div class="col">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-12 p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-auto">
                    <a href="@Url.Action("ProductDetails", "Products")">
                        <img class="" src="~/images/debra/debra (9).jpg" height="100" alt="product">
                    </a>
                </div>
                <div class="col">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-12 p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12 my-2">
            <div class="col-12 p-0 text-lg-left text-center mb-2">
                <h4>Featured</h4>
            </div>
            <div class="row my-3">
                <div class="col-auto">
                    <a href="@Url.Action("ProductDetails", "Products")">
                        <img class="" src="~/images/debra/debra (9).jpg" height="100" alt="product">
                    </a>
                </div>
                <div class="col">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-12 p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-auto">
                    <a href="@Url.Action("ProductDetails", "Products")">
                        <img class="" src="~/images/debra/debra (9).jpg" height="100" alt="product">
                    </a>
                </div>
                <div class="col">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-12 p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-auto">
                    <a href="@Url.Action("ProductDetails", "Products")">
                        <img class="" src="~/images/debra/debra (9).jpg" height="100" alt="product">
                    </a>
                </div>
                <div class="col">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-12 p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12 my-2">
            <div class="col-12 p-0 text-lg-left text-center mb-2">
                <h4>Bestseller Products</h4>
            </div>
            <div class="row my-3">
                <div class="col-auto">
                    <a href="@Url.Action("ProductDetails", "Products")">
                        <img class="" src="~/images/debra/debra (9).jpg" height="100" alt="product">
                    </a>
                </div>
                <div class="col">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-12 p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-auto">
                    <a href="@Url.Action("ProductDetails", "Products")">
                        <img class="" src="~/images/debra/debra (9).jpg" height="100" alt="product">
                    </a>
                </div>
                <div class="col">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-12 p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-auto">
                    <a href="@Url.Action("ProductDetails", "Products")">
                        <img class="" src="~/images/debra/debra (9).jpg" height="100" alt="product">
                    </a>
                </div>
                <div class="col">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-12 p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="newsletter mb-4 py-2">
    <div class="container text-center py-5 black">
        <h3>Sign Up For Newsletters</h3>
        <h6>Be the First to Know. Sign up for newsletter today</h6>
        <div class="row justify-content-center">
            <div class="col-8 my-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Your email address">
                    <div class="input-group-lg">
                        <button class="btn link-white bold" type="button">
                            <b>Subscribe !</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>