﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
        <section class="header-pink py-2">
            <div class="container">
                <div class="d-none d-lg-block">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-12 align-content-start text-left">
                            <span class="pr-3">Follow Us:</span>
                            <a class="pr-3" href="#">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            <a class="pr-3" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="pr-3" href="#">
                                <i class="fa fa-google-plus-official"></i>
                            </a>
                            <a class="pr-3" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a class="pr-3" href="#">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </div>
                        <div class="col-md-6 col-12 align-content-end text-right">
                            <div class="dropdown show">
                                <a class="dropdown-toggle pr-lg-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My Account
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Profile</a>
                                </div>
                                <span>|</span>
                                <a class="dropdown-toggle pl-lg-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    USD
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">USD</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top my-2 header-cart"></div>
                </div>
                <div class="row align-items-center py-lg-2">
                    <div class="col-lg-2 col-4 order-1 align-content-start">
                        @Html.ActionLink("DEBRA", "Index", "Home", new { area = "" }, new { @class = "debra-title" })
                    </div>
                    <div class="col-lg-8 col-md-12 order-lg-2 order-12 align-content-center ">
                        <div class="input-group header-searchbar">
                            <input type="text" class="form-control" placeholder="Search our store">
                            <div class="input-group-lg">
                                <button class="btn btn-outline-light" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-8 order-lg-3 order-2 align-content-end text-right">
                        <a class="btn header-cart mx-2 d-lg-none">
                            <i class="fa fa-user"></i>
                        </a>
                        <a href="@Url.Action("Cart", "Cart")" class="btn header-cart mx-2">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <a class="btn header-cart d-lg-none" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <section>
            <div class="container my-1 d-none d-lg-block ">
                <div>
                    <ul class="nav justify-content-center header-nav">
                        @*<li class="nav-item dropdown">
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link dropdown-toggle mx-4", @data_toggle = "dropdown", @href = "#", @role = "button" })
                            <div class="dropdown-menu">
                                @Html.ActionLink("Shop", "Products", "Products", new { area = "" }, new { @class = "nav-item nav-link mx-4" })
                                @Html.ActionLink("Products", "Products", "Products", new { area = "" }, new { @class = "nav-item nav-link mx-4" })
                                @Html.ActionLink("Blog", "News", "Blog", new { area = "" }, new { @class = "nav-item nav-link mx-4" })
                                @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-item nav-link mx-4" })
                                @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-item nav-link mx-4" })
                            </div>
                        </li>*@
                        @*<li class="nav-item">
            <div class="btn-group">
                <a href="#" class="">Action</a>
                <a class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </li>*@
                        <li class="nav-item">
                            @Html.ActionLink("Shop", "Products", "Products", new { area = "" }, new { @class = "nav-item nav-link mx-4 font-weight-bold" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Products", "Products", "Products", new { area = "" }, new { @class = "nav-item nav-link mx-4  font-weight-bold" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Blog", "News", "Blog", new { area = "" }, new { @class = "nav-item nav-link mx-4 font-weight-bold" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-item nav-link mx-4 font-weight-bold" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-item nav-link mx-4 font-weight-bold" })
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="collapse" id="collapseExample">
                    <ul class="nav navbar-nav">
                        <li class="">
                            @Html.ActionLink("Shop", "Products", "Products", new { area = "" }, new { @class = "nav-item nav-link mx-4 font-weight-bold" })
                        </li>
                        <li class="">
                            @Html.ActionLink("Products", "Products", "Products", new { area = "" }, new { @class = "nav-item nav-link mx-4 font-weight-bold" })
                        </li>
                        <li class="">
                            @Html.ActionLink("Blog", "News", "Blog", new { area = "" }, new { @class = "nav-item nav-link mx-4 font-weight-bold" })
                        </li>
                        <li class="">
                            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-item nav-link mx-4 font-weight-bold" })
                        </li>
                        <li class="">
                            @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-item nav-link mx-4 font-weight-bold" })
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="p-1">
                            <div class="mb-2 debra-title">
                                DEBRA
                            </div>
                            <ul class="flex-column nav">
                                <li class="mb-3">
                                    <h6><b>Address:</b></h6>
                                    4710-4890 Breckinridge St, UK Burlington, VT 05401
                                </li>
                                <li class="mb-3">
                                    <h6><b>Need help?</b></h6>
                                    Call: 1-800-345-6789
                                </li>
                                <li class="mb-3">
                                    <h6><b>Need help?</b></h6>
                                    example@examlple.com
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-4">
                                    <h5>About US</h5>
                                </div>
                                <ul class="flex-column nav">
                                    <li class="mb-2">
                                        <a class="link-black" href="#">About us</a>
                                    </li>
                                    <li class="mb-2">
                                        <a class="link-black" href="#">Store location</a>
                                    </li>
                                    <li class="mb-2">
                                        <a class="link-black" href="#">Contact</a>
                                    </li>
                                    <li class="mb-2">
                                        <a class="link-black" href="#">Orders tracking</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <div class="mb-4">
                                    <h5>Usefull Links</h5>
                                </div>
                                <ul class="flex-column nav">
                                    <li class="mb-2 ">
                                        <a class="link-black" href="#">Returns</a>
                                    </li>
                                    <li class="mb-2">
                                        <a class="link-black" href="#">Support Policy</a>
                                    </li>
                                    <li class="mb-2">
                                        <a class="link-black" href="#">Size guide</a>
                                    </li>
                                    <li class="mb-2">
                                        <a class="link-black" href="#">FAQs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        @{ Html.RenderAction("LatestBlogs", "Partials"); }
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-6 text-lg-left text-center my-3">
                        <span class="text-muted">Copyright &copy</span>  <b>Vesoz</b>  <span class="text-muted">All Right Reserved.</span>
                    </div>
                    <div class="col-lg-6 text-lg-right text-center soc-media-icons my-3">
                        <a class="p-2  mx-2 facebook" href="#">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                        <a class="p-2 mx-2 twitter" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="p-2 mx-2 google-plus" href="#">
                            <i class="fa fa-google-plus-official"></i>
                        </a>
                        <a class="p-2 mx-2 youtube" href="#">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>