﻿@model Eshop.shipping_types

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>shipping_types</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate_modifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate_modifier)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
