﻿body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.header-pink, .header-pink a {
    background: #FF9899;
    color: white !important;
}
    /*.header-nav{
    background: white;
    color: black; 
}*/
    .header-icon {
        height: 1em;
        color: white;
        fill: white;
    }

.debra-title{
    font-size: 2.5em;
}

.header-searchbar input,
.header-searchbar button {
    color: white;
    color: white;
    background: #FEAEAD !important;
    border-color: #FEAEAD !important;
}
.header-searchbar input::placeholder {
    color: white;
}
.header-cart {
    border: 1px solid #FEAEAD !important;
    font-size: 1.2em !important; 
}

.header-nav, .header-nav a {
    background: white;
    color: black !important;
}
.footer {
    background: #FAFAFA;
}
.soc-media-icons i {
    font-size: 1.2em;
    color: white;
}
.soc-media-icons a {
    border-radius: 20px;
    width:80px !important;
}
.youtube {
    background: red;
}
.facebook {
    background: #3b5998;
}
.twitter {
    background: #1DA1F2;
}
.google-plus {
    background: #db4a39;
}

a {
    text-decoration: none !important;
}

.pink, .pink a {
    color: #FF9899 !important;
    text-decoration: none;
}
.black a {
    color: black !important;
    text-decoration: none;
}

.pink-block {
    color: white !important;
    background: #FF9899 !important;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate( -50%, -50% );
    background-color: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.contact {
    background: #F2F2F2;
}

.pink-button {
    background: #FF9899 !important;
    color: white;
}

#map {
    height: 400px;
}

.citation {
    margin-left: 50px;
    padding: 10px 10px;
    background-color: #f6f6f6;
    border-left: #fe999a solid 5px;
    font-style: italic;
}

.sale {
    position: absolute;
    top: 16px;
    left: 20px;
    background: #FF9899;
    color: white;
    padding: 3px 10px;

}
.sale-days {
    position: absolute;
    top: 80px;
    left: 20px;
    background: #FF9899;
    color: white;
    padding: 3px 2px;

}
.sale-timer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sale-timer-value {
    background: #FF9899;
    color: white;    
}
.itemCount{
    width: 40px !important;
}
.active-pink {
    color: #FF9999 !important;
}

.newsletter {
    color: black;
    Background: #FF9999;
}
.link-white{
    text-decoration:none;
    color: white !important;
}
.link-black{
    text-decoration:none;
    color: black !important;
}

.active-page-pink {
    Background: #FF9999;
    color: white;
}