﻿@model Eshop.product_variants

@{
    ViewBag.Title = "Details";
}
<section>
    <img class="img-fluid mb-5" src="~/images/debra/debra (1).png" />
    <div class="banner-text text-center">
        <h1>Demo product title</h1>
        <p class="font-weight-bold">Home > Best Sellers > <span class="active-pink">Demo product title</span></p>
    </div>
</section>
<div class="container">
    <div class="row mb-5">
        <div class="col-6 text-left">
            <div class="m-1">
                <div class="border">
                    <div class="px-4 py-2">
                        <div class="mb-4">
                            <h3>@Model.name</h3>
                            <div class="p-0 my-2">
                                @for (int i = 1; i < Model.rating; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                <span> No Reviews</span>
                            </div>
                            <p class="active-pink">$50.00</p>
                            <p class="mb-1">Vendor: <span class="active-pink"><b>@Model.product.manufacturer.name</b></span></p>
                            <p class="mb-1">SKU: <span class="active-pink">@Model.quantity</span></p>
                            <p class="mb-1">
                                Availability:
                                @if (Model.quantity == 0 || Model.quantity == null)
                                {
                                    <span class="active-pink">Not avalible</span>
                                }
                                else
                                {
                                    <span class="active-pink">In Stock</span>
                                }
                                </p>
                            </div>
                        <hr />
                        <div class="mb-4">
                            <p class="mb-1">
                            @Model.description   
                            </p>
                        </div>
                        <hr />
                        <div class="mb-4">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="inputPassword" class=" col-form-label pr-3"><b>Qty: </b></label>
                                    <div class="col-auto">
                                        <input type="number" class="form-control" value="1" />
                                    </div>
                                </div>
                                <button type="submit" class="btn pink-button">Add to cart</button>
                            </form>
                        </div>
                        <div class="row mb-4 px-2">
                            <button class="btn pink-button btn-block">Buy it now</button>
                        </div>
                        <div class="row mb-4">
                            <div class="col-auto pl-0">
                                <a href="" class="text-muted">
                                    <i class="fa fa-sliders"></i> Compare this product
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="" class="text-muted">
                                    <i class="fa fa-heart"></i> Add to whishlist
                                </a>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h6>SHARE THIS PRODUCT:</h6>
                            <div class="row mb-2">
                                <div class="col text-lg-left text-center soc-media-icons my-3">
                                    <a class="p-2  mx-2 facebook" href="#">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                    <a class="p-2 mx-2 twitter" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a class="p-2 mx-2 google-plus" href="#">
                                        <i class="fa fa-google-plus-official"></i>
                                    </a>
                                    <a class="p-2 mx-2 youtube" href="#">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <h6>GUARANTEED CHECKOUT:</h6>
                            <div class="row mb">
                                <div class="col text-lg-left text-center soc-media-icons my-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="m-1">
                <img class="img-fluid mb-3" src="~/images/@Url.Content(Model.picture.path)" alt="item.name" />
                <div class="row text-center align-items-center">
                    <div class="col-1">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                    <div class="col-10 p-0">
                        <div class="row">
                            <div class="col-3 p-0">
                                <div class="m-1">
                                    <img class="img-fluid mb-3" src="~/images/debra/debra (14).jpg" />
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="m-1">
                                    <img class="img-fluid mb-3" src="~/images/debra/debra (14).jpg" />
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="m-1">
                                    <img class="img-fluid mb-3" src="~/images/debra/debra (14).jpg" />
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="m-1">
                                    <img class="img-fluid mb-3 border border-warning" src="~/images/debra/debra (14).jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 p-0">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav justify-content-center mb-4">
        <li class="nav-item link-black">
            <a class="nav-link active-pink" href="#">Active</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link link-black" href="#">Description</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link link-black" href="#">Reviews</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link link-black" href="#">Comments</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link link-black" href="#">Shipping Policy</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link link-black" href="#">Size Chart</a>
        </li>
    </ul>
    <hr />
    <p class="mb-5">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi scelerisque luctus velit. Cras elementum. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nam quis nulla. Etiam egestas wisi a erat. Aliquam id dolor. Quisque porta. Pellentesque ipsum. Sed ac dolor sit amet purus malesuada congue.

        Nunc auctor. Proin mattis lacinia justo. Nulla pulvinar eleifend sem. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Integer tempor. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Aenean vel massa quis mauris vehicula lacinia. Ut tempus purus at lorem. Praesent dapibus. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Pellentesque pretium lectus id turpis. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Etiam quis quam. Fusce tellus. Aenean vel massa quis mauris vehicula lacinia. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus.
    </p>
    <h5 class="text-center mb-4"><b>Related Product</b></h5>
    <div class="row mb-5">
        <div class="col-lg-3 col-6">
            <div class="mx-2">
                <a href="@Url.Action("ProductDetails", "Products")">
                    <img class="card-img-top" src="~/images/debra/debra (17).jpg" alt="Card image cap">
                </a>
                <div class="card-body border">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="mx-2">
                <a href="@Url.Action("ProductDetails", "Products")">
                    <img class="card-img-top" src="~/images/debra/debra (17).jpg" alt="Card image cap">
                </a>
                <div class="card-body border">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="mx-2">
                <a href="@Url.Action("ProductDetails", "Products")">
                    <img class="card-img-top" src="~/images/debra/debra (17).jpg" alt="Card image cap">
                </a>
                <div class="card-body border">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="mx-2">
                <a href="@Url.Action("ProductDetails", "Products")">
                    <img class="card-img-top" src="~/images/debra/debra (17).jpg" alt="Card image cap">
                </a>
                <div class="card-body border">
                    <div class="col p-0">
                        @Html.ActionLink("Dummy product name", "ProductDetails", "Products", new { area = "" }, new { @class = "link-black" })
                    </div>
                    <div class="col p-0">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col p-0">
                        <span class="active-pink"><b>$55.00</b></span>
                        <span class="text-muted"><del>$55.00</del></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
