﻿@model Eshop.Models.ProductListing
<section>
    <img class="img-fluid mb-5 mx-auto d-block" src="~/images/debra/debra (1).png" />
    <div class="banner-text text-center">
        <h2>Best Sellers</h2>
        <p class="font-weight-bold">Home > <span class="active-pink">Best Sellers</span></p>
    </div>
</section>
<div class="container">
    <div class="row mb-4">
        <div class="col-lg-9 col-12">
            <div class="row p-2 m-0 border mb-4">
                <div class="col">
                    <a href="@Url.Action("Products", "Products")" class="btn active-pink">
                        <i class="fa fa-th"></i>
                    </a>
                    <a href="@Url.Action("Products", "Products")" class="btn ">
                        <i class="fa fa-bars"></i>
                    </a>
                    <span class="d-none d-xl-inline">Showing 1 - 9 of 12 result</span>
                </div>
                <div class="col-auto">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="inputPassword" class=" col-form-label pr-3">Show:</label>
                            <div class="col-auto">
                                <select class="form-control" id="showSelect">
                                    <option>9</option>
                                    <option>12</option>
                                    <option>15</option>
                                    <option>18</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-auto">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="inputPassword" class=" col-form-label pr-3">Sort by</label>
                            <div class="col-auto">
                                <select class="form-control" id="sorbBySelect">
                                    <option>Best selling</option>
                                    <option>Best selling</option>
                                    <option>Best selling</option>
                                    <option>Best selling</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mb-4">
                @foreach (var item in Model.product_previews)
                {
                    <div class="col-lg-4 col-6 px-0 my-2">
                        <div class="mx-2">
                            <a href='@Url.Action("ProductDetails", "Products", new { id=item.id })'>
                                <img class="card-img-top " src="~/images/@Url.Content(item.pic_path)" alt="item.name" />
                            </a>
                            <div class="card-body border">
                                <div class="col p-0">
                                    @Html.ActionLink(item.name, "ProductDetails", "Products", new { id = item.id }, new { @class = "link-black" })
                                </div>
                                <div class="col p-0">
                                    @for (int i = 1; i < item.rating; i++)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                </div>
                                <div class="col p-0">
                                    @if (item.s_value != null)
                                    {
                                        <span class="active-pink"><b>$@((item.price * (100 - item.s_value)) / 100).00</b></span>
                                        <span class="text-muted"><del>$@Html.DisplayFor(modelItem => item.price).00</del></span>
                                    }
                                    else
                                    {
                                        <span class="">$@Html.DisplayFor(modelItem => item.price).00</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row border px-3 mb-4">
                <div class="col align-self-start pt-3">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-start">
                            <li class="page-item">
                                <a class="page-link link-black" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active-page-pink"><a class="page-link active-page-pink" href="#">1</a></li>
                            @*<li class="page-item"><a class="page-link link-black" href="#">2</a></li>
                            <li class="page-item"><a class="page-link link-black" href="#">3</a></li>*@
                            <li class="page-item">
                                <a class="page-link link-black" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-auto align-self-end text-right align-self-center pb-1">
                    <span>Showing 1 - 9 of 12 result</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-none d-lg-block">
            <div class="px-3 contact">
                <div class="row p-0 m-0">
                    <div class="py-4 contact">
                        <div class="col-12 mb-5  p-0">
                            <h6>
                                <label for="search-navbar">Search</label>
                            </h6>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="search-navbar" placeholder="Search our store" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-5 p-0">
                            <h6>Categories</h6>
                            @Html.ActionLink("Best Sellers(12)", "Products", "Products", new { area = "" }, new { @class = "nav-link px-0 active-pink py-1" })
                            @Html.ActionLink("New Arrivals(14)", "Products", "Products", new { area = "" }, new { @class = "nav-link px-0 link-black py-1" })
                            @Html.ActionLink("Sale Items(14)", "Products", "Products", new { area = "" }, new { @class = "nav-link px-0 link-black py-1" })
                            @Html.ActionLink("Top Sell(14)", "Products", "Products", new { area = "" }, new { @class = "nav-link px-0 link-black py-1" })
                        </div>
                        <hr />
                        <div class="col-12 my-5  p-0">
                            <h6>Vendors</h6>
                            @foreach (manufacturer m in Model.manufacturers)
                            {
                                <div class="form-check my-1">
                                    <input class="form-check-input" type="checkbox" value="@m.id" id="@m.name">
                                    <label class="form-check-label" for="@m.name">
                                        @m.name
                                    </label>
                                </div>
                            }                           
                        </div>
                        <hr />
                        <div class="col-12 my-5  p-0">
                            @foreach (option o in Model.options)
                            {
                                <h6>@o.value</h6>
                                <div class="row p-0 m-0">
                                    @foreach (option_values ov in o.option_values)
                                    {
                                        <div class="col-6 p-0">
                                            <div class="form-check my-1">
                                                <input class="form-check-input" type="checkbox" value="@ov.id" id="@ov.value">
                                                <label class="form-check-label" for="Red">
                                                    @ov.value
                                                </label>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <hr />
                            }                            
                        <div class="col-12 my-5  p-0">
                            <h6>Tags</h6>
                            <div class="row p-0 m-0">
                                <div class="col-6 p-0">
                                    <div class="form-check my-1">
                                        <input class="form-check-input" type="checkbox" value="" id="Red">
                                        <label class="form-check-label" for="Red">
                                            Red
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6 p-0">
                                    <div class="form-check my-1">
                                        <input class="form-check-input" type="checkbox" value="" id="Green">
                                        <label class="form-check-label" for="Green">
                                            Green
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6 p-0">
                                    <div class="form-check my-1">
                                        <input class="form-check-input" type="checkbox" value="" id="Blue">
                                        <label class="form-check-label" for="Blue">
                                            Blue
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6 p-0">
                                    <div class="form-check my-1">
                                        <input class="form-check-input" type="checkbox" value="" id="Yellow">
                                        <label class="form-check-label" for="Yellow">
                                            Yellow
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6 p-0">
                                    <div class="form-check my-1">
                                        <input class="form-check-input" type="checkbox" value="" id="White">
                                        <label class="form-check-label" for="White">
                                            White
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>


</div>
<script>
    $(function () {
        var times = [
            {
                'id': '1',
                'end': new Date('July 31, 2020 13:00:15'),
            },
            {
                'id': '2',
                'end': new Date('August 12, 2022 10:45:00'),

            }
        ];
        function countdown() {
            var now = new Date();
            console.log('updating time');

            $.each(times, function (key, value) {
                var left = value.end - now;
                var days = Math.floor(left / (1000 * 60 * 60 * 24));
                var hours = Math.floor((left % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((left % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((left % (1000 * 60)) / 1000);

                displayTime = '';
                if (days > 0) {
                    displayTime = "Days: " + days;
                }
                displayTime = displayTime + " Hours: " + hours + " Minutes: " + minutes + " Seconds: " + seconds;
                console.log(displayTime);
                $('#sale' + value.id + 'day').text(days)
                $('#sale' + value.id + 'hour').text(hours)
                $('#sale' + value.id + 'min').text(minutes)
                $('#sale' + value.id + 'sec').text(seconds)
            });

        }
        timer = setInterval(countdown, 1000);

    });
</script>