﻿@model Eshop.order

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.total_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipping_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipping_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address1.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address1.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coupon.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coupon.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipping_types.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipping_types.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_methods.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_methods.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
