﻿@model Eshop.order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.total_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipping_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipping_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address1.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address1.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coupon.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coupon.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipping_types.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipping_types.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_methods.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_methods.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
