﻿@model IEnumerable<Eshop.order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipping_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address1.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coupon.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipping_types.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_methods.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.total_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipping_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address1.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coupon.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipping_types.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_methods.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
