﻿@model Eshop.blog_comments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>blog_comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.blog.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment.text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
