﻿<section>
    <img class="img-fluid mb-5" src="~/images/debra/debra (1).png" />
    <div class="banner-text text-center">
        <h2>Your Shopping Cart</h2>
        <p>Home > <span>Your Shopping Cart</span></p>
    </div>
</section>
<div class="container mb-5">
    <table class="shadow table table-bordered text-center align-items-center mb-3">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">
                    <img src="~/images/debra/debra (16).jpg" height="150" />
                </td>
                <td class="align-middle">11. Product with video navy</td>
                <td class="align-middle px-5">$35.00</td>
                <td class="align-middle px-5">
                    <form >
                        <input class="itemCount" type="number" value="1" min="0" max="100" step="1" required/>
                    </form>
                </td>
                <td class="align-middle px-5">$35.00</td>
                <td class="align-middle px-5">
                    <a href="">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="align-middle">
                    <img src="~/images/debra/debra (16).jpg" height="150" />
                </td>
                <td class="align-middle">11. Product with video navy</td>
                <td class="align-middle px-5">$35.00</td>
                <td class="align-middle px-5">
                    <form >
                        <input class="itemCount" type="number" value="1" min="0" max="100" step="1" required/>
                    </form>
                </td>
                <td class="align-middle px-5">$35.00</td>
                <td class="align-middle px-5">
                    <a href="">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-end mb-5">
        <div class="col-auto">
            <button class="btn btn-dark">
                Update cart
            </button>
            <button class="btn btn-dark">
                Continue Shopping
            </button>
            <button class="btn btn-dark">
                Clear Cart
            </button>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6">
            <h4>Get Shipping estimatess</h4>
            <form>
                <div class="form-row">
                    <div class="col-7">
                        <div class="form-group">
                            <select class="form-control" id="stateSelect">
                                <option>----</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="zipInput" placeholder="Zip/Postal Code" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Calculate shipping</button>
            </form>
        </div>
        <div class="col-6">
            <h4>Cart Totals</h4>
            <div class="row text-left mb-3 m-1">
                <div class="col-6 border">
                    <div class="p-2">
                        <b>Subtotal</b>
                    </div>
                </div>
                <div class="col-6 border">
                    <div class="p-2">
                        $70.00
                    </div>
                </div>
                <div class="col-6 border">
                    <div class="p-2">
                        <b>Total</b>
                    </div>
                </div>
                <div class="col-6 border">
                    <div class="p-2">
                        <b>$70.00</b>
                    </div>
                </div>
            </div>
            <form class="p-0">
                @Html.ActionLink("Proceed to Checkout", "Checkout", "Cart", new { area = "" }, new { @class = "btn btn-dark" })
            </form>
        </div>
    </div>
</div>
<script src="./src/bootstrap-input-spinner.js"></script>
<script>
    $("input[type='number']").inputSpinner();
</script>
