﻿<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-7 border-right">
                <div class="mb-2 debra-title">
                    DEBRA
                </div>
                <p><span>Cart</span> > Information > Shipping > Payment</p>
                <form class="my-4">
                    <div class="row my-3">
                        <div class="col-6 justify-content-start">
                            <h5>Contact information</h5>
                        </div>
                        <div class="col-6 justify-content-end">
                            Already have and account? <a href="">Log in</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputAddress" placeholder="Email or mobile phone number">
                    </div>
                    <div class="form-group mb-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="newsletter">
                            <label class="form-check-label" for="newsletter">
                                Keep me up to date on news and exclusive offers
                            </label>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-6 justify-content-start">
                            <h5>Shipping address</h5>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="First name (optional)">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Last name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputAddress" placeholder="Address" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputAparment" placeholder="Apartment, suite, etc. (optional))">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputCity" placeholder="City">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputZip" placeholder="Postal code">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Save this information for next time
                            </label>
                        </div>
                    </div>
                    <div class="row my-3 align-content-center">
                        <div class="col-6 justify-content-start align-self-center">
                            <a href="" class="active-pink">< Return to cart</a>
                        </div>
                        <div class="col-6 justify-content-end text-right align-self-center">
                            <button type="submit" class="btn pink-button">Continue to shipping</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-5 contact">
                <div class="px-3 py-4">
                    <div class="col p-0 mb-2">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/images/debra/debra (11).jpg" class="rounded img-fluid border" alt="...">
                            </div>
                            <div class="col-9  align-self-center">
                                <div class="row align-self-center ">
                                    <div class="col-9 align-self-start">
                                        <span>11. Product with video</span>
                                    </div>
                                    <div class="col-3 align-self-end text-right">
                                        <span>$39.90</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col p-0 mb-2">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/images/debra/debra (11).jpg" class="rounded img-fluid border" alt="...">
                            </div>
                            <div class="col-9  align-self-center">
                                <div class="row align-self-center ">
                                    <div class="col-9 align-self-start">
                                        <span>11. Product with video</span>
                                    </div>
                                    <div class="col-3 align-self-end text-right">
                                        <span>$39.90</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col p-0 mb-2">
                        <div class="row">
                            <div class="col-3">
                                <img src="~/images/debra/debra (11).jpg" class="rounded img-fluid border" alt="...">
                            </div>
                            <div class="col-9  align-self-center">
                                <div class="row align-self-center ">
                                    <div class="col-9 align-self-start">
                                        <span>11. Product with video</span>
                                    </div>
                                    <div class="col-3 align-self-end text-right">
                                        <span>$39.90</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <hr />
                <div class="row mb-2">
                    <div class="col-6">
                        Subtotal
                    </div>
                    <div class="col-6 text-right">
                        $89.00
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-6">
                        Shipping
                    </div>
                    <div class="col-6 text-right">
                        Calculated at next step
                    </div>
                </div>
                <hr />
                <div class="row my-2">
                    <div class="col-6">
                        Total
                    </div>
                    <div class="col-6 text-right">
                        usd $89.00
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

