﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - SB Admin</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/admincss")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sbadmin")
    @RenderSection("scripts", required: false)
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        @Html.ActionLink("Debra admin", "Index", "Admin", new { area = "Admin" }, new { @class = "navbar-brand" })
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @*<div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" href="index.html">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Dashboard
        </a>*@
                        <div class="sb-sidenav-menu-heading">Administraion</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBlogs" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            All
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <nav class="sb-sidenav-menu-nested nav">
                            @Html.ActionLink("Addresses", "Index", "addresses", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Blogs", "Index", "blogs", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Blog comments", "Index", "blog_comments", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Blog tags", "Index", "blog_tags", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Categories", "Index", "categories", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Comments", "Index", "comments", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Coupons", "Index", "coupons", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Manufacturers", "Index", "manufacturers", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Options", "Index", "options", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Option values", "Index", "option_values", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Orders", "Index", "orders", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Order products", "Index", "order_products", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Payment methods", "Index", "payment_methods", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Pictures", "Index", "pictures", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Products", "Index", "products", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Product categories", "Index", "product_categories", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Product comments", "Index", "product_comments", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Product option values", "Index", "product_option_value", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Product options", "Index", "product_options", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Product sales", "Index", "product_sales", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Product tags", "Index", "product_tags", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Product variant pictures", "Index", "product_variant_pictures", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Product variants", "Index", "product_variants", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Questions", "Index", "questions", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Reviews", "Index", "reviews", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Sales", "Index", "sales", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Shipping types", "Index", "shipping_types", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Tags", "Index", "tags", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Users", "Index", "users", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("User shipping addresses", "Index", "user_shipping_addresses", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("User wishlists", "Index", "user_wishlists", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Wishlists", "Index", "wishlists", new { area = "Admin" }, new { @class = "nav-link" })
                            @Html.ActionLink("Wishlist product variants", "Index", "wishlist_product_variants", new { area = "Admin" }, new { @class = "nav-link" })

                        </nav>
                        <div class="collapse" id="collapseBlogs" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Addresses", "Index", "addresses", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Blogs", "Index", "blogs", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Blog comments", "Index", "blog_comments", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Blog tags", "Index", "blog_tags", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Categories", "Index", "categories", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Comments", "Index", "comments", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Coupons", "Index", "coupons", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Manufacturers", "Index", "manufacturers", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Options", "Index", "options", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Option values", "Index", "option_values", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Orders", "Index", "orders", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Order products", "Index", "order_products", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Payment methods", "Index", "payment_methods", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Pictures", "Index", "pictures", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Products", "Index", "products", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Product categories", "Index", "product_categories", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Product comments", "Index", "product_comments", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Product option values", "Index", "product_option_value", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Product options", "Index", "product_options", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Product sales", "Index", "product_sales", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Product tags", "Index", "product_tags", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Product variant pictures", "Index", "product_variant_pictures", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Product variants", "Index", "product_variants", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Questions", "Index", "questions", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Reviews", "Index", "reviews", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Sales", "Index", "sales", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Shipping types", "Index", "shipping_types", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Tags", "Index", "tags", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Users", "Index", "users", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("User shipping addresses", "Index", "user_shipping_addresses", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("User wishlists", "Index", "user_wishlists", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Wishlists", "Index", "wishlists", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Wishlist product variants", "Index", "wishlist_product_variants", new { area = "Admin" }, new { @class = "nav-link" })

                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Products
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseProducts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Categories", "Index", "categoriesAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Products", "Index", "productsAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Product Variants", "Index", "product_VariantsAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Manufacturers", "Index", "manufacturersAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Reviews", "Index", "reviewsAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Sales", "Index", "salesAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrders" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Orders
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseOrders" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Orders", "Index", "ordersAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Users
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseUsers" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Users", "Index", "usersAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Adresses", "Index", "addressesAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Wishlists", "Index", "wishlistsAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMisc" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Misc
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseMisc" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @Html.ActionLink("Coupons", "Index", "couponsAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                                @Html.ActionLink("Pictures", "Index", "picturesAdmin", new { area = "Admin" }, new { @class = "nav-link" })
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <section class="container mt-5">
                @RenderBody()
            </section>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>