﻿@model Eshop.address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
