﻿@model Eshop.v_blog_previews

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>v_blog_previews</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pictureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pictureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picturePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.picturePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
