﻿@model IEnumerable<Eshop.v_blog_previews>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.picturePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.picturePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
