﻿@model Eshop.blog

@{
    ViewBag.Title = "Article";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-lg-9 col-12 px-4 ">
            <div class="border py-5 px-4  mb-4">
                <div class="text-center">
                    <h2>@Html.DisplayFor(model => model.title)</h2>
                    <p>
                        <i class="fa fa-user-circle"></i><span> @Html.DisplayFor(model => model.user.name) @Html.DisplayFor(model => model.user.surname)</span> |  <i class="fa fa-calendar"></i><span>@Html.DisplayFor(model => model.creation_date)</span>
                    </p>
                    <img class="img-fluid py-4" src="~/images/@Url.Content(Model.picture.path)" />
                    <div class="text-left">
                        <p>
                            @Html.DisplayFor(model => model.content)
                        </p>
                        <p class="citation">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rutrum neque ut ex lobortis, ac finibus eros scelerisque. Cras tempus a leo vitae aliquam. Nunc ac enim lorem. Cras a aliquam orci. Aliquam laoreet erat sed diam facilisis facilisis. Aliquam viverra eu nunc nec porta. Sed non est nulla. Praesent quis congue ipsum
                        </p>                        
                        <p class="border-bottom border-top py-3">
                            Tags: <span><i>bestselling, collection, dress, fashion, men style, women</i></span>
                        </p>
                    </div>
                    <div class="my-3">
                        <p>SHARE THIS POST</p>
                        <div class="soc-media-icons my-3">
                            <a class="p-2  mx-2 facebook" href="#">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            <a class="p-2 mx-2 twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="p-2 mx-2 google-plus" href="#">
                                <i class="fa fa-google-plus-official"></i>
                            </a>
                            <a class="p-2 mx-2 youtube" href="#">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-left mb-4">
                <h6>Leave a comment</h6>
                <p>Your email address will not be published. Required fields are marked *</p>
                <form>
                    <div class="form-group">
                        <label for="inputComment">Comment</label>
                        <textarea class="form-control" id="inputComment" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark">POST COMMENT</button>
                </form>
            </div>
        </div>
        <div class="col-lg-3 d-none d-lg-block">
            <div class="row p-0 m-0">
                <div class="mx-1 py-4 contact">
                    <div class="col-12 mb-5">
                        <h6>
                            <label for="search-navbar">Search</label>
                        </h6>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="search-navbar" placeholder="Search our store" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <h6>Custom menu</h6>
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link px-0 link-black py-1" })
                        @Html.ActionLink("Blog", "News", "Blog", new { area = "" }, new { @class = "nav-link px-0 link-black py-1" })
                        @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link px-0 link-black py-1 " })
                        @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link px-0 link-black py-1" })
                    </div>
                    <div class="col-12 mb-5">
                        @{ Html.RenderAction("RecentBlogs", "Partials"); }
                    </div>
                    <div class="col-12 mb-5">
                        @{ Html.RenderAction("Archive", "Partials"); }
                    </div>
                    <div class="col-12 mb-5 ">
                        <h6>Tags</h6>
                        <div class="row px-3">
                            <div class="col-auto m-1 p-0">
                                <a href="#" class="btn btn-outline-secondary">Bestselling</a>
                            </div>
                            <div class="col-auto m-1 p-0">
                                <a href="#" class="btn btn-outline-secondary">Collection</a>
                            </div>
                            <div class="col-auto m-1 p-0">
                                <a href="#" class="btn btn-outline-secondary">Dress</a>
                            </div>
                            <div class="col-auto m-1 p-0">
                                <a href="#" class="btn btn-outline-secondary">Fashion</a>
                            </div>
                            <div class="col-auto m-1 p-0">
                                <a href="#" class="btn btn-outline-secondary">Men</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
