﻿@model IEnumerable<Eshop.v_blog_previews>

@{
    ViewBag.Title = "News";
}

<section>
    <img class="img-fluid mb-5" src="~/images/debra/debra (1).png" />
    <div class="banner-text text-center">
        <h1>News</h1>
        <p class="font-weight-bold">Home > <span class="active-pink">News</span></p>
    </div>
</section>
<div class="container">
    <div class="row mb-4">
        <div class="col-lg-9 col-12">
            <div class="row p-0 m-0">
                @foreach (var item in Model)
                {
                    <div class="col-12 p-0 mb-4">
                        <img class="img-fluid pb-3" src="~/images/@Url.Content(item.picturePath)" />
                        <h4> @Html.DisplayFor(modelItem => item.title)</h4>
                        <p>
                            <i class="fa fa-user-circle"></i><span> @Html.DisplayFor(modelItem => item.user_fullname) </span>| <i class="fa fa-calendar text-muted"></i>
                            <span class="text-muted">@Html.DisplayFor(modelItem => item.creation_date)</span>
                        </p>
                        <hr />
                        <p>
                            @Html.DisplayFor(modelItem => item.preview)
                        </p>
                        @Html.ActionLink("Read more", "Article", "Blog", new { id=item.id }, new { @class = "btn btn-secondary" })
                    </div>
                }                
            </div>
        </div>
        <div class="col-lg-3 d-none d-lg-block">
            <div class="row p-0 m-0">
                <div class="mx-1 py-4 contact">
                    <div class="col-12 mb-5">
                        <h6>
                            <label for="search-navbar">Search</label>
                        </h6>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="search-navbar" placeholder="Search our store" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <h6>Custom menu</h6>
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link px-0 link-black py-1" })
                        @Html.ActionLink("Blog", "News", "Blog", new { area = "" }, new { @class = "nav-link px-0 link-black py-1" })
                        @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link px-0 link-black py-1 " })
                        @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link px-0 link-black py-1" })
                    </div>
                    <div class="col-12 mb-5">
                        @{ Html.RenderAction("RecentBlogs", "Partials"); }
                    </div>
                    <div class="col-12 mb-5">
                        @{ Html.RenderAction("Archive", "Partials"); }
                    </div>
                    <div class="col-12 mb-5 ">
                        <h6>Tags</h6>
                        <div class="row px-3">
                            <div class="col-auto m-1 p-0">
                                <a href="#" class="btn btn-outline-secondary">Bestselling</a>
                            </div>
                            <div class="col-auto m-1 p-0">
                                <a href="#" class="btn btn-outline-secondary">Collection</a>
                            </div>
                            <div class="col-auto m-1 p-0">
                                <a href="#" class="btn btn-outline-secondary">Dress</a>
                            </div>
                            <div class="col-auto m-1 p-0">
                                <a href="#" class="btn btn-outline-secondary">Fashion</a>
                            </div>
                            <div class="col-auto m-1 p-0">
                                <a href="#" class="btn btn-outline-secondary">Men</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border px-3 mb-4">
        <div class="col align-self-start pt-3">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-start">
                    <li class="page-item">
                        <a class="page-link link-black" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active-page-pink"><a class="page-link active-page-pink" href="#">1</a></li>
                    <li class="page-item"><a class="page-link link-black" href="#">2</a></li>
                    <li class="page-item"><a class="page-link link-black" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link link-black" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-auto align-self-end text-right align-self-center pb-1">
            <span>Showing 1 - 0 of 12 result</span>
        </div>
    </div>
</div>
