﻿@model IEnumerable<Eshop.v_archive_blogs>

<h6>Archive</h6>
<h6>@DateTime.Now.ToString("MMMMM yyyy")</h6>

@foreach (var item in Model)
{
    <p>
        @Html.ActionLink(item.title, "Article", "Blog", new { id = item.id }, new { @class = "link-black" })
    </p>
}
