﻿@model IEnumerable<Eshop.v_product_previews>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-6 px-0 my-2">
        <div class="mx-2">
            <a href='@Url.Action("ProductDetails", "Products", new { id=item.id })'>
                <img class="card-img-top " src="~/images/@Url.Content(item.pic_path)" alt="item.name" />
            </a>
            <div class="card-body border">
                <div class="col p-0">
                    @Html.ActionLink(item.name, "ProductDetails", "Products", new { id = item.id }, new { @class = "link-black" })
                </div>
                <div class="col p-0">
                    @for (int i = 1; i < item.rating; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </div>
                <div class="col p-0">
                    @if (item.s_value != null)
                    {
                        <span class="active-pink"><b>$@((item.price * (100 - item.s_value)) / 100).00</b></span>
                        <span class="text-muted"><del>$@Html.DisplayFor(modelItem => item.price).00</del></span>
                    }
                    else
                    {
                        <span class="">$@Html.DisplayFor(modelItem => item.price).00</span>
                    }
                </div>
            </div>
        </div>
    </div>
}                