﻿@model IEnumerable<Eshop.v_recent_posts>

<h6>Recent Post</h6>
<ul class="list-group list-group-flush">
    @foreach (var item in Model){
    <li class="list-group-item">
        <div class="row p-0 m-0">
            <div class="col-4 p-0">
                <a href='@Url.Action("Article", "Blog", new { id=item.id })'>
                    <img class="img-fluid " src="~/images/@Url.Content(item.picturePath)" />
                </a>
            </div>
            <div class="col-8">
                <h6>@Html.DisplayFor(modelItem => item.title)</h6>
                <span>@Html.DisplayFor(modelItem => item.creation_date)</span>
            </div>
        </div>
    </li>        
    }
</ul>

